*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body {
    height: 100vh;
    background: black;
    color: #d2d2c8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  text-align: center;
  width:360px;
  padding:32px;
  background:#020202;
  border-radius:18px;
  border:2px solid #807245;
  box-shadow:
    0 0 25px rgba(124,117,52,0.9),
    0 0 60px rgba(153,95,9,0.6);
}

.back{
    position: relative;
    top: 57vh;
    text-decoration: none;
    color: #807245;
    font-size: 16px;
    transition: 0.2s;
}

.back:hover{
    opacity: 0.8;
}

h1{
    margin-bottom: 20px;
}

.card{
    padding: 30px;
    width: 280px;
    border-radius: 20px;
}

.card img{
    width: 150px;
    height: 150px;
    border: 3px solid #807245;
    border-radius: 50%;
}

#username{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.btn{
    display: inline-block;
    padding: 10px 26px;
    background: #807245;
    color: #020202;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.25s;
}

.btn:hover{
    background: #d2d2c8;
}